doctype HTML
html
    body
        form(action="/code", method="POST")
            textarea(name="codes", cols="100", rows="25")
                each code in codes
                    =code+"\r\n"
            input(type="submit", value="Save")
                