doctype HTML
html
    body
        - var now = new Date()
        div= `${now.toLocaleDateString()} ${now.toLocaleTimeString()}`
        table
            caption Task State
            thead
                tr
                    th Name
                    th Assignee
                    th Last Run
                    th Next Run
                    th Parameters
                    th Current State
                    th Set State
                    th Action
            tbody
                each task in tasks
                    tr
                        form(action="/task/setState", method="POST")
                            input(type="hidden", name="id", value=task._id)
                            td= task.executor
                            td= task.assignee
                            td 
                                if task.lastRun
                                    =`${task.lastRun.toLocaleDateString()} ${task.lastRun.toLocaleTimeString()}`
                            td
                                if task.nextRun
                                    =`${task.nextRun.toLocaleDateString()} ${task.nextRun.toLocaleTimeString()}`
                            td= JSON.stringify(task.params)
                            td= TaskState[task.state]
                            td
                                select(name="state")
                                    option(value=TaskState.scheduled) scheduled
                                    option(value=TaskState.suspended) suppended
                            td
                                input(type="submit", value="apply")